<!DOCTYPE html>
<html>

<head>
    <title>Math Quiz</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>

<body class='back_welcome'>


    <h1 class='zaholovok'>Ласкаво просимо на тренування з математичного аналізу</h1>
    <h3 class='txt'>Оберіть тему, щоб розпочати тест</h3>
    <div class="button-container">
        <button class="button button-1" onclick="window.location.href='/integrals'">Інтеграли</button>
        <button class="button button-2" onclick="window.location.href='/trig'">Тригонометрія</button>
        <button class="button button-3" onclick="window.location.href='/series'">Числ. ряди та функції</button>
        <button class="button button-4">У розробці...</button>
    </div>
    <div>
        <!-- <img class='party_img' src="/static/images/party-small.png" width="1500px" height="500px"> -->
    </div>

</body>

</html>