<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>

<body class='back_welcome'>


    <h1 class='zaholovok'>Welcome to Math Analisys exam training</h1>
    <h3 class='txt'>Chose topic for the test</h3>
    <div class="button-container">
        <button class="button button-1" onclick="window.location.href='/integrals'">Інтеграли</button>
        <button class="button button-2">Координати</button>
        <button class="button button-3" onclick="window.location.href='/series'">Числ. ряди та функції</button>
        <button class="button button-4">Ейлерові інтеграли та заміни</button>
    </div>


</body>

</html>